.redish{background-color: #ff7f80;}
.blueshPink{background-color: #d470d6;}
.darkBlue{background-color: #7b68ee;}
.yellowish{background-color: #ffd700;}
.teaPink{background-color: #ffb6c1;}
.brownish{background-color: #a0522b;}
.greenish{background-color: #2d8b57;}
.redPink{background-color: #f07f72;}
.lightBrown{background-color: #daa520;}
.lightBlue{background-color: #6495ed;}
table{
    border: 3px solid #000;
}